# Connect to Supabase via connection pooling
DATABASE_URL=""

# Direct connection to the database. Used for migrations
DIRECT_URL=""

# JWT Secret for authentication (Change this in production!)
JWT_SECRET=""

# Server Port
PORT=3000

# Environment
NODE_ENV=development

# Supabase Storage
SUPABASE_URL=""
SUPABASE_S3_ENDPOINT=""
SUPABASE_PUBLIC_BASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""
SUPABASE_BUCKET_NAME=image